<section class="card">
  {{!-- post title --}}
    <header><h2>{{title}}</h2></header>
    {{!-- post text, with the identified user who wrote the post --}}
    <p>{{text}} - <strong>{{user.username}}</strong></p>
</section>
