<section class="card">
  {{!-- to retrieve post link later --}}
  <a href="/post/{{id}}">
  {{!-- post title --}}
    <header><h2>{{title}}</h2></header>
    {{!-- post text, with the identified user who wrote the post --}}
    <p>{{text}} - <strong>{{user.username}}</strong></p>
    
  </a>
</section>
