{{!-- for all the posts retrieved, each post will be processed by the post-details handlebars --}}
{{#each posts as |post|}}
{{!-- to retrieve post link later --}}
<a href="/post/{{id}}">
{{> post-details}}
</a>
{{/each}}
