{{#with post}}
{{> post-details}}
{{/with}}

{{!-- for all the comments retrieved, each comment will be processed by the comment-details handlebars --}}
{{#each post.comments as |comment|}}
{{> comment-details}}
{{/each}}

<form class="card">
  <label for="comment">Comment</label>
  <input type="text" id="comment">
  <input type="submit" value="Submit">
</form>